<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="layout_1.css">
</head>
<body>
        <aside class="header_aside">
            <h1>베스트상품 할인 특가</h1>
        </aside>
        <header id="header">
        <nav id="lnb">
            <ul>
                <li><a href="#">LOGIN</a></li>
                <li><a href="#">JOIN US</a></li>
                <li><a href="#">CART</a></li>
                <li><a href="#">ORDER</a></li>
                <li><a href="#">MYPAGE</a></li>
                <li><a href="#">DELIVERY</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="logo.png">
        </div>
        <nav class="header_snb">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="search_snb">
                <ul>
                    <li><a href="#">서랍장</a></li>
                    <li><a href="#">테이블</a></li>
                    <li><a href="#">책장</a></li>
                    <li><a href="#">쇼파</a></li>
                </ul>
            </div>
        </nav>
        <nav id="gnb">
            <ul>
                <li><a href="#" >ALL</a></li>
                <li><a href="#">침대</a></li>
                <li><a href="#">테이블</a></li>
                <li><a href="#">수납/선반</a></li>
                <li><a href="#">디자인체어</a></li>
                <li><a href="#">홈데코/가든</a></li>
                <li><a href="#">리빙</a></li>
                <li><a href="#">홈패브릭</a></li>
                <li><a href="#">키즈</a></li>
                <li><a href="#">반려용품</a></li>
                <li><a href="#">M+캠핑</a></li>
                <li><a href="#">소형가전</a></li>
                <li><a href="#">이벤트</a></li>
            </ul>
        </nav>
        <div class="main_img">
            <img src="main_img.PNG" width="960px"> 
        </div>
    </header>
    <section id="section_1">
        <span class="article_1">
            article1
        </span>
        <span class="article_2">
            article2
        </span>
        <span class="article_3">
            article3
        </span>
    </section>
    <section id="section_2">
        <div class="title">
            title
        </div>
        <article class="article1">
            article1
        </article>
        <article class="article2">
            article2
        </article>
        <article class="article3">
            article3
        </article>
    </section>
    <section id="section_3">
        <div class="title">
            title2
        </div>
        <div class="article_top">
            <article class="article1">
                article1
            </article>
            <article class="article2">
                article2
            </article>
            <article class="article3">
                article3
            </article>
            <article class="article4">
                article4
            </article>
            <article class="article5">
                article5
            </article>
        </div>
        <div class="article_bottom">
            <article class="article_1">
                article1
            </article>
            <article class="article_2">
                article2
            </article>
            <article class="article_3">
                article3
            </article>
            <article class="article_4">
                article4
            </article>
            <article class="article_5">
                article5
            </article>
        </div>
    </section>
    <footer id="footer">
        <nav id="fnb">
            fnb
        </nav>
        <span class="footer_logo">
            logo
        </span>
        <span class="address">
            address
        </span>
        <span class="number">
            number
        </span>
    </footer>
</body>
</html>