<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout_1.css">
</head>
<body>
    <header id="header">
        <aside class="header_aside">
            <h1>Header Aside</h1>
        </aside>
        <nav id="lnb">
            lnb
        </nav>
        <div class="logo">
            <h1>logo</h1>
        </div>
        <nav class="header_snb">
            snb
        </nav>
        <nav id="gnb">
            gnb
        </nav>
        <div class="main_img">
            img
        </div>
    </header>
    <section id="section_1">
        <span class="article_1">
            article1
        </span>
        <span class="article_2">
            article2
        </span>
        <span class="article_3">
            article3
        </span>
    </section>
    <section id="section_2">
        <div class="title">
            title
        </div>
        <article class="article1">
            article1
        </article>
        <article class="article2">
            article2
        </article>
        <article class="article3">
            article3
        </article>
    </section>
    <section id="section_3">
        <div class="title">
            title2
        </div>
        <div class="article_top">
            <article class="article1">
                article1
            </article>
            <article class="article2">
                article2
            </article>
            <article class="article3">
                article3
            </article>
            <article class="article4">
                article4
            </article>
            <article class="article5">
                article5
            </article>
        </div>
        <div class="article_bottom">
            <article class="article_1">
                article1
            </article>
            <article class="article_2">
                article2
            </article>
            <article class="article_3">
                article3
            </article>
            <article class="article_4">
                article4
            </article>
            <article class="article_5">
                article5
            </article>
        </div>
    </section>
    <footer id="footer">
        <nav id="fnb">
            fnb
        </nav>
        <span class="footer_logo">
            logo
        </span>
        <span class="address">
            address
        </span>
        <span class="number">
            number
        </span>
    </footer>
</body>
</html>